/* Global stuff */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
body {
  background-color: #ffffff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}
header {
  color: #2e2f42;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1 {
  color: #ffffff;
}
h2,
h3 {
  color: #2e2f42;
}
.container {
  width: 100%;
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

/* Sections stuff */

.section-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.list-paragraf {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.core-values-section,
.team,
.portfolio-section {
  padding: 120px 0;
}

/* || Header */
.page-top {
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-info {
  font-style: normal;
}
.navigation {
  display: flex;
  align-items: center;
  color: #2e2f42;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-studio {
  color: #2e2f42;
}
.navigation-list {
  display: flex;
  gap: 40px;
}
.navigation-link {
  padding: 24px 0;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  color: #404bbf;
}
.current::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
}
.contacts {
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
.contact-list {
  display: flex;
  gap: 40px;
  align-items: flex-end;
}

.top-open-btn {
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

/* || Top Modal ++++++++++++++++++++++++++++++++++++++++++*/

.top-mod {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 72px 16px 24px;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.top-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.top-close-btn:hover,
.top-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.top-close-btn:hover > .top-close-icon,
.top-close-btn:focus > .top-close-icon {
  fill: #ffffff;
}
.top-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Top mod content */

.top-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}
.top-navigation-link {
  padding: 24px 0;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.top-navigation-link:hover,
.top-navigation-link:focus {
  color: #404bbf;
}
.top-current {
  color: #404bbf;
}
.top-contacts {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.top-contacts:hover,
.top-contacts:focus {
  color: #404bbf;
}
.top-contact-info {
  font-style: normal;
  margin-bottom: 48px;
}
.top-contact-list {
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.top-icon-list {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
}

/* || Title page ++++++++++++++++++++++++++++++++++++++++++*/

.efective-solutions-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/title/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 72px 0;

  max-width: 1440px;
  margin: 0 auto;
}
.efective-solutions-title {
  max-width: 496px;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.11;

  margin: 0 auto 72px;
}
.efective-solutions-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;

  min-width: 169px;

  padding: 16px 32px;
  margin: 0 auto;
  display: block;

  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: #2e2f42 0 none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.efective-solutions-button:hover,
.efective-solutions-button:focus {
  background-color: #404bbf;
}

/* || Core values */

.core-values-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 72px;

  align-items: center;
  justify-content: center;
}
.core-values-list-item {
  flex-shrink: 0;
}
.values-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;

  text-align: center;
  margin-bottom: 8px;
}
.values-paragraf {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.core-values-list-box {
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
}
.core-values-list-box .icon {
  fill: #000;
  margin: 24px 100px;
}

/* || Team */

.team {
  background-color: #f4f4fd;
}
.team-list {
  display: flex;
  gap: 72px;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}
.team-list-item {
  max-width: 264px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-container {
  padding: 32px 0;
  flex-shrink: 0;
}
.team-list-item-title {
  margin-bottom: 8px;
  text-align: center;
}
.team-list-item-text {
  text-align: center;
  margin-bottom: 8px;
}
.icon-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}
.icon-link-icon {
  width: 40px;
  height: 40px;
}
.icon {
  fill: #f4f4fd;
}
.team-list-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

/* || Portfolio */

.portfolio-list {
  display: flex;
  gap: 48px;
  flex-direction: column;
  flex-wrap: wrap;
}
.portfolio-list-item {
  flex-shrink: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-pic {
  position: relative;
  overflow: hidden;
}
.portfolio-list-item:hover .portfolio-list-paragraf {
  transform: translateY(0%);
}
.portfolio-list-paragraf {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list-item-title {
  margin-bottom: 8px;
}

/* || Footer */

.end-section {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-logo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.end-logo-studio {
  color: #f4f4fd;
  margin-bottom: 20px;
}
.footer-logo-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  width: 264px;
}
.end-section-link {
  display: inline-block;
  margin-bottom: 16px;
  margin: 0 auto 16px;
}
.obj-title {
  color: #ffffff;
  margin-bottom: 12px;
}
.end-list-box {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.end-section .container {
  display: flex;
  /* gap: 120px; */
  gap: 72px;
  flex-direction: column;
  flex-wrap: wrap;

  align-items: baseline;
  justify-content: center;
}
.end-section-icon-paragraf {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;

  text-align: center;
}
.end-icon-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.end-icon-link:hover,
.end-icon-link:focus {
  background-color: #31d0aa;
}

/* Footer form */

.subscribe-par {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;

  text-align: center;
}
.footer-form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  align-items: center;
}
.footer-label {
}
.subscribe-box {
  width: 100%;
}
.subscribe-email {
  width: 264px;
  height: 40px;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #ffffff;
  background-color: transparent;
  border-radius: 4px;
  color: #ffffff;
}
.subscribe-email::placeholder {
  color: #ffffff;
}
.subscribe-button {
  width: 165px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}
.subscibe-icon {
  margin-left: 16px;
  fill: #ffffff;
}

/* Modal +++++++++++++++++++++++++++++++++++++++++++*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  position: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-btn:hover > .close-icon,
.modal-close-btn:focus > .close-icon {
  fill: #ffffff;
}
.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  font-weight: 500;
  margin-bottom: 16px;
}

/*$ Form $*/

.form-element {
  margin-bottom: 8px;
}
.comment-form-element {
  margin-bottom: 16px;
}
.input-field {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 4px;
  width: 100%;
}
.input-label {
  display: block;
  margin-bottom: 4px;
  flex-direction: column;
  align-items: start;

  color: #8e8f99;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.label-wrap {
  display: flex;
  position: relative;
}
.input-line {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;

  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-line:focus {
  border-color: #4d5ae5;
}
.input-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-line:focus + .input-icon {
  fill: #4d5ae5;
}
.input-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  background-color: transparent;
  outline: transparent;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-comment:focus {
  border-color: #4d5ae5;
}

/*$ Checkbox $*/

.last-form-element {
  margin-bottom: 24px;
}
.last-input-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.privacy-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.input-checkbox:checked + .last-input-label .privacy-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.checkbox-link {
  color: #4d5ae5;
  text-decoration: underline;
}
.send-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;

  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-button:hover,
.send-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .efective-solutions-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/title/people-office-x2.jpg);
    padding: 112px 0;
  }
  .efective-solutions-title {
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;

    margin: 0 auto 36px;
  }

  .core-values-list {
    flex-direction: row;
    gap: 72px 24px;
  }
  .core-values-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .team-list {
    gap: 64px 24px;
    flex-direction: row;
  }
  .team-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .portfolio-list {
    gap: 72px 24px;
    flex-direction: row;
  }
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }

  .end-section-link {
    margin: 0 0 16px 0;
  }
  .end-section .container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    gap: 72px 24px;
  }
  .end-icon-list {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    gap: 16px;
  }
  .footer-form {
    flex-direction: row;
  }
  .footer-logo-box,
  .end-list-box,
  .subscribe-box {
    flex-basis: calc((100% - 24px) / 2);
  }
  .subscribe-par,
  .end-section-icon-paragraf {
    text-align: start;
  }

  .modal {
    width: 408px;
    min-height: 584px;
  }
  .top-open-btn {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .contact-list {
    flex-direction: column;
    gap: 12px;
  }
  .logo {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .efective-solutions-section {
    padding: 188px 0;
  }
  .efective-solutions-title {
    margin: 0 auto 48px;
  }

  .core-values-list {
    flex-wrap: nowrap;
  }
  .core-values-list-item {
    flex-basis: calc((100% - 24px * 3) / 4);
  }
  .values-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;

    text-align: start;
  }
  .values-paragraf {
    font-weight: 400;
  }

  .team-list-item {
    flex-basis: calc((100% - 24px * 3) / 4);
  }

  .portfolio-list {
    gap: 48px 24px;
  }
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }

  .end-section .container {
    align-items: baseline;
    gap: 80px;
    flex-wrap: nowrap;
  }
  .footer-logo-box,
  .end-list-box,
  .subscribe-box {
    flex-basis: calc((100% - 40px * 2) / 3);
  }
  .footer-logo-box {
    margin-right: 40px;
  }
}

@media screen and (max-width: 768px) {
  .navigation-list,
  .contact-info {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media screen and (max-width: 1158px) {
  .core-values-list-box {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
